RESEND_API_KEY=
EMAIL_FROM=TickrMind <hello@tickrmind.com>
SUPPORT_EMAIL=support@tickrmind.com
HELLO_EMAIL=hello@tickrmind.com
BETA_EMAIL=beta@tickrmind.com
GOOGLE_SHEETS_CLIENT_EMAIL=
GOOGLE_SHEETS_PRIVATE_KEY=
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_BETA_SHEET_NAME=Beta Signups
